/* HomePage.css */

/* Font faces */
@font-face {
    font-family: 'Articulat CF Bold';
    src: url('assets/fonts/articulat-cf-bold.ttf');
}
@font-face {
    font-family: 'Articulat CF Demi Bold';
    src: url('assets/fonts/articulat-cf-demi-bold.ttf');
}
@font-face {
    font-family: 'Articulat CF Normal';
    src: url('assets/fonts/articulat-cf-normal.ttf');
}

/* Root */
.root-container {
    -fx-font-family: 'Articulat CF Demi Bold';
    -fx-padding: 40px;
    -fx-text-fill: #000000;
}

/* Navigation Row */
.nav-row,
.nav-bar {
    -fx-spacing: 30;
}
.nav-button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 12;
}
.nav-button:hover {
    -fx-text-fill: #2C6298;
}
.nav-icon {
    -fx-fill: #000000;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/* Avatar */
.avatar-container {
    -fx-background-color: #DDD;
    -fx-background-radius: 50%;
    -fx-padding: 4;
}
.avatar-image {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}
.avatar-name,
.avatar-logout {
    -fx-text-alignment: right;
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: -3 2 -3 0;
}
.avatar-name {
    -fx-font-size: 18px;
    -fx-font-family: "Articulat CF Normal";
}
.avatar-logout {
    -fx-font-size: 18px;
    -fx-font-family: "Articulat CF Normal";
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-cursor: hand;
}

/* Greeting Bar */
.greeting-row {
    -fx-padding: 20 0 0 6;
    -fx-alignment: center-left;
}
.greeting-label {
    -fx-font-size: 46px;
    -fx-font-family: 'Articulat CF Bold';
}
.info-label {
    -fx-font-size: 20px;
    -fx-text-fill: #666;
    -fx-padding: -10 0 0 0;
}
.edit-button {
    -fx-background-color: #595959;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 22;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 14px;
}
.edit-icon {
    -fx-fill: #FFFFFF;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.edit-button:hover {
    -fx-background-color: #BBB;
}

/* Chart Row */
.chart-row {
    -fx-padding: 30 0 0 6;
}
.chart-title {
    -fx-font-size: 16px;
    -fx-font-family: 'Articulat CF Demi Bold';
}
.chart {
    -fx-pref-height: 500px;
}
.pie-chart {
    -fx-pref-height: 500px;
}