/* HomePage.css */

/* Greeting Bar */
.greeting-row {
    -fx-padding: 30 0 -10 6;
    -fx-alignment: center-left;
}
.greeting-label {
    -fx-font-size: 46px;
    -fx-font-family: 'Articulat CF Bold';
}
.info-label {
    -fx-font-size: 20px;
    -fx-text-fill: #7F7F7F;
    -fx-padding: -10 0 0 0;
}
.edit-button {
    -fx-padding: 7 22;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #595959;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 14px;
}
.toggle-button {
    -fx-text-fill: white;
    -fx-padding: 6px 16px;
    -fx-font-size: 16px;
    -fx-font-family: 'Articulat CF Demi Bold';
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8px;
    -fx-background-color: #7F7F7F;
}
.toggle-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-opacity: 0.6;
}
.edit-icon {
    -fx-fill: #FFFFFF;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.edit-button:hover {
    -fx-background-color: derive(#595959, 25%);
}
.edit-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-opacity: 0.6;
}
/* Chart Row */
.chart,
.chart-row {
    -fx-padding: 30 0 0 0;
}
.chart-title {
    -fx-font-size: 20px;
    -fx-font-family: 'Articulat CF Demi Bold';
    -fx-padding: 0 0 0 5;
}
.chart-container {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 16px;
}

/* pie chart */
.pie-chart {
    -fx-pref-height: 500px;
    -fx-padding: 0 0 -16px 0;
    -fx-pie-chart-inner-radius: 0.4;
}

.small-button {
    -fx-padding: 4px 8px;
    -fx-font-size: 12px;
}

#spendingChart .chart-plot-background {
    -fx-background-color: transparent;
}
#spendingChart .chart-horizontal-grid-lines,
#spendingChart .chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
#spendingChart .chart-series-line {
    -fx-stroke: #2C6298;
    -fx-stroke-width: 2px;
}
#spendingChart .chart-line-symbol {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
