/* ManualEntryPage.css */

VBox {
    -fx-background-radius: 20px;
}

/* TextField */
.text-field {
    -fx-background-color: #a5a5a5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

/* Handle_Button */
.Handle_Button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
}

/* Back_Button */
.Back_Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* Convert_Button */
.Convert_Button {
    -fx-background-color: #d2691e;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
}

/* Micro_Button */
.Micro_Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* Input */
.Input_Character {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Text Area Settings */
.text-area {
    -fx-background-color: #a5a5a5;
    -fx-control-inner-background: #a5a5a5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-font-family: "Arial";
}
.text-area:focused {
    -fx-background-insets: 0;
    -fx-background-color: #a5a5a5;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-family: "Arial";
}

.AI_Rec_Character {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.Dot {
    -fx-font-size: 20px;
    -fx-text-fill: green;
}

.ManualEntry_Character {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
