/* ManualEntryPage.css */

/* Main Container */
.main-container{
    -fx-spacing: 20px;
    -fx-padding: 20px 0 0 0;
}

/* Title Row */
.title-container{
    -fx-alignment: center-left;
    -fx-spacing: 25;
}
.title-back-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.title-text {
    -fx-font-size: 40px;
    -fx-font-family: "Articulat CF Demi Bold";
}
.title-dot {
    -fx-font-size: 20px;
    -fx-text-fill: green;
}
.title-back-icon{
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

/* TextField */
.text-field {
    -fx-background-color: #a5a5a5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
}

/* Handle_Button */
.Handle_Button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

/* Convert_Button */
.Convert_Button {
    -fx-background-color: #C04F15;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

/* Micro_Button */
.Micro_Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* Input */
.Input_Character {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Text Area Settings */
.text-area {
    -fx-background-color: #a5a5a5;
    -fx-control-inner-background: #a5a5a5;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 0;
}
.text-area:focused {
    -fx-background-insets: 0;
    -fx-background-color: #a5a5a5;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.AI_Rec_Character {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.micro-icon {
    -fx-fill: white;
}

.convert-icon {
    -fx-fill: white;
    -fx-scale: 0.9;
}