/* RecognizeBillPage.css */

/* Main Container */
.main-container{
    -fx-padding: 20px 0 0 0;
    -fx-vgrow: always;
    -fx-spacing: 20px;
}

/* Title Row */
.title-container{
    -fx-alignment: center-left;
    -fx-spacing: 25;
}
.title-back-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.title-text {
    -fx-font-size: 40px;
    -fx-font-family: "Articulat CF Demi Bold";
}
.title-dot {
    -fx-font-size: 20px;
    -fx-text-fill: #80350E;
}
.title-back-icon{
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

/* Camera Preview */
.preview-container {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-pref-height: 320px;
    -fx-vgrow: always;
    -fx-alignment: center;
}

/* Hint */
.hint-container{
    -fx-spacing: 25px;
    -fx-padding: 20px;
    -fx-alignment: center-left;
}
.camera-hint-icon{
    -fx-scale-x: 1.8;
    -fx-scale-y: 1.8;
    -fx-translate-x: 40px
}
.camera-hint-text {
    -fx-font-size: 20px;
    -fx-line-spacing: -3px;
    -fx-translate-x: 32px
}
.button-panel {
    -fx-spacing: 15px;
    -fx-alignment: CENTER-LEFT;
}
.action-button {
    -fx-font-family: 'Articulat CF Normal';
    -fx-font-size: 16px;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-translate-x: 32px
}
.action-button:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-opacity: 0.6;
}
.retake-button {
    -fx-background-color: #7e0000;
}
.continue-button {
    -fx-background-color: #000000;
}
.retake-button:hover {
    -fx-background-color: derive(#7e0000, 50%);
}
.continue-button:hover {
    -fx-background-color: derive(#000000, 50%);
}

/* Preview */
.preview-stack {
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-cursor: hand;
}