/* RecognizeBillPage.css */

/* Main Container */
.main-container{
    -fx-padding: 20px 0 0 0;
    -fx-vgrow: always;
}

/* Title Row */
.title-container{
    -fx-alignment: center-left;
    -fx-spacing: 25;
}
.title-back-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.title-text {
    -fx-font-size: 40px;
    -fx-font-family: "Articulat CF Demi Bold";
}
.title-dot {
    -fx-font-size: 20px;
    -fx-text-fill: #80350E;
}
.title-back-icon{
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

/* Camera Preview */
.preview-container {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 16px;
    -fx-vgrow: always;
    -fx-alignment: center;
}
.hint-container{
    -fx-alignment: center-left;
    -fx-spacing: 15;
}
.camera-hint-icon{
    -fx-scale-x: 1.8;
    -fx-scale-y: 1.8;
}
.camera-hint-text {
    -fx-font-size: 20px;
    -fx-line-spacing: -6px;
}