/* PlanPage.css */

/* Greeting Bar */
.greeting-row {
    -fx-padding: 20 0 0 6;
}
.greeting-label {
    -fx-font-size: 30px;
    -fx-font-family: 'Articulat CF Bold';
}

/* Chart Row */
.chart-row {
    -fx-padding: 30 0 0 0;
}
.chart-title {
    -fx-font-size: 20px;
    -fx-font-family: 'Articulat CF Demi Bold';
}
.chart-container {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
}
.pie-chart {
    -fx-pref-height: 350px;
    -fx-padding: 0 0 0 0;
}

/* Budget Info */
.budget-amount {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* Percentage Gray Style */
.percentage-gray {
    -fx-text-fill: #808080;
}

/* Buttons */
.recommendation-button {
    -fx-font-size: 16px;
    -fx-text-fill: #D76A03;
    -fx-padding: 6 0 0 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.edit-button{
    -fx-padding: 7 22;
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #585858;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 14px;
}
.ai-suggestion-button {
    -fx-padding: 7 22;
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #275317;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 14px;
}
/*.edit-button:hover, .ai-suggestion-button:hover {*/
/*    -fx-background-color: derive(#595959, 50%);*/
/*}*/
.edit-icon {
    -fx-fill: #fdfdfd;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.Here-icon {
    -fx-fill: #D76A03;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/* Local Info */
.info-label-small {
    -fx-font-size: 16px;
    -fx-text-fill: #7F7F7F;
}
.info-label-big {
    -fx-font-size: 16px;
    -fx-text-fill: #323232;
}
.update-label {
    -fx-font-size: 14px;
    -fx-text-fill: #2E7D32; /* green */
    -fx-padding: 10 0 0 0;
}