/* NavBar.css */

.nav-row {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}
.nav-bar {
    -fx-spacing: 20px;
}
.nav-button {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 12px;
    -fx-text-fill: #000000;
}
.nav-button:hover {
    -fx-background-color: rgba(0,0,0,0.05);
}
.nav-button.active {
    -fx-text-fill: #8B0000;
    -fx-effect: dropshadow(gaussian, #8B0000, 100, 0, 8, 15);
}
.nav-button.active .nav-icon {
    -fx-fill: #8B0000;
}
.nav-icon {
    -fx-fill: #000000;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.avatar-container {
    -fx-background-color: #DDD;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
    -fx-background-radius: 24px;
}
.avatar-name,
.avatar-logout {
    -fx-font-size: 19px;
    -fx-font-family: 'Articulat CF Normal';
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-padding: -5 0 -5 0;
    -fx-background-color: transparent;
}
.avatar-logout {
    -fx-text-fill: #635f5f;
    -fx-cursor: hand;
}