<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define a Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Log output pattern -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
